/* /* tittle{
    text-align: center; */
    */
    h1{
        text-align: center;
        background-color: rgb(11, 116, 116);
    }
    div{
        text-align: center;
        font-size: large;
        
        background-color: rgb(11, 86, 86);
    }
    /* Header */
    header {
        background:rgb(11, 86, 86);
        color: white;
        text-align: center;
        padding: 20px;
    }
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: aqua;
}
/* / Navigation bar/ */
nav ul {
    font-size: large;
    display: flex;
    justify-content: center;
    list-style: none;
    background:rgb(12, 132, 132);
    padding: 15px 0;
}